body {
  font-family: arial;
  background-color: rgb(234, 255, 250);
}

.navbar {
  background-color: rgb(230, 230, 230);
  width: 180px;
  height: 98.5%;
  margin: 5px 5px 5px 5px;
  position: fixed;
  left: 0px;
  top: 0px;
  text-align: center;
  box-shadow: 3px 3px 1px 0 rgb(210, 210, 210);
}

.navbar h1 {
  font-style: italic;
  background-color: rgb(163, 198, 255);
}
.navbar h2 {
  background-color: rgb(163, 198, 255);
}
.addroom {
  margin-top: 0;
}
.addroom:hover {
  background-color: rgb(163, 198, 255);
  cursor: pointer;
}

li:hover{
  cursor: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
}

.navbar li {
    cursor: pointer;
}

.navbar li:hover {
  background-color: rgb(180, 210, 255);
}

.popup {
  position: relative;
  left: 50%;
  top: 50%;
  width: 400px;
  padding: 10px 0px 10px 0px;
  background-color: rgb(242, 242, 242);
  box-shadow: 3px 3px 1px 0 rgb(210, 210, 210);
  text-align: center;
  z-index: 2;
}

form {
  display: inline;
}

input[type=submit] {
  margin: 5px;
}

#roomDiv {
  position: fixed;
  display: inline;
  left: 185px;
  top: 0px;
  height: 98%;
  width: 80vw;
  margin: 12px;
  background-color: rgb(230, 230, 230);
  box-shadow: 3px 3px 1px 0 rgb(210, 210, 210);
  z-index: 1;
  padding: 10px;
  text-align: left;
}

#messagesDiv {
  border: 1px solid black;
  margin: 10px;
  height: 90%;
}

.messages {
  list-style-type: none;
}

.username {
  position: relative;
  left: 0px;
  background-color: rgb(180, 210, 255);
  padding: 0 5px 0 5px;
}

.content {
  position: relative;
}

.time {
  font-style: italic;
  font-weight: bold;
}

#messages {
  margin: 10px;
  text-align: center;
}

#messages li {
  border-bottom: 1px solid black;
}

#message {
  width: 80%;
}
